@import url('https://fonts.googleapis.com/css?family=Roboto');

$fa-font-path: "~font-awesome/fonts";

$nav-background-color: #494944;
$background-color: #eeeeee;
$border-color: #eeeeee;
$checkbox-true-color: #fe9622;
$checkbox-true-hover-color: #ef8209;
$checkbox-false-color: #e6e6e6;
$checkbox-false-hover-color: #ccc;
$danger-color: #dc3545;
$white-color: #ffffff;

$roboto-font: 'Roboto', sans-serif;

@import './home/home.styles';

html, body {
	font-family: $roboto-font;
	margin: 0;
  padding: 0;
  width: 100%;
}

table, th, td {
   border: 0;
}

* {
	box-sizing: border-box;
}

.pointer {
	cursor: pointer;
}

.control {
	font-size: 18px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.control {
	input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	&__indicator {
		position: absolute;
		top: -2px;
		left: 0;
		width: 20px;
		height: 20px;
		border-radius: 10%;
		background: $checkbox-false-color;
	}
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: $checkbox-false-hover-color;
}

.control input:checked ~ .control__indicator {
	background: $checkbox-true-color;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: $checkbox-true-hover-color;
}

.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: $checkbox-false-color;
}

.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

.control input:checked ~ .control__indicator:after {
	display: block;
}

.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}
