<div class="boxContainer">
  <table>
    <thead class="table">
        <tr class="table__head">
            <th class="table__name" >
              <span class="pointer" ng-click="vm.changeOrder('taskName')">Task name <i ng-show="vm.isOrderedBy('taskName')" class="fa " ng-class="vm.isOrderedRevers() ? 'fa-chevron-up' : 'fa-chevron-down'"></i></span>
            </th>
            <th class="table__priority">
              <span class="pointer" ng-click="vm.changeOrder('priority')">Priority <i ng-show="vm.isOrderedBy('priority')" class="fa " ng-class="vm.isOrderedRevers() ? 'fa-chevron-up' : 'fa-chevron-down'"></i></span>
            </th>
            <th class="table__done">
              <span class="pointer" ng-click="vm.changeOrder('done')">Done <i ng-show="vm.isOrderedBy('done')" class="fa " ng-class="vm.isOrderedRevers() ? 'fa-chevron-up' : 'fa-chevron-down'"></i></span>
            </th>
        </tr>
    </thead>
    <tbody class="tasksList" ng-if="vm.allTasks.length > 0">
        <tr class="tasksList__task" ng-repeat="task in vm.tasks | orderBy: vm.orderByColumn : vm.orderByDir" ng-mouseenter="mouseIn=true" ng-mouseleave="mouseIn=false">
            <td class="tasksList__name">{{task.taskName}}
              <i ng-show="mouseIn" ng-click="vm.deleteTask(task.id)" class="text-danger fa fa-trash pointer"></i></td>
            <td class="tasksList__priority">{{task.priority}}</td>
            <td class="tasksList__done">
              <label class="control control--checkbox">
  		          <input type="checkbox" ng-model="task.done" ng-change="vm.updateTask(task.id, task.done)">
  		          <div class="control__indicator"></div>
	            </label>
            </td>
        </tr>
    </tbody>
    <tbody class="tasksList" ng-if="!vm.allTasks.length">
        <tr class="tasksList__task">
            <td colspan="3" class="tasksList__warning">
              <span>The TODO List is Empty. Add Task below.</span>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr class="table__footer" ng-if="vm.allTasks.length > 0">
            <td colspan="3" class="table__pagging">
              <div class="pull-right">
                <div class="table__rows">
                  <span>Rows per page: </span>
                  <select ng-model="vm.recordsPerPage" ng-options="option as option for option in vm.paggingOptions" ng-change="vm.changeRecords(this)">
                  </select>
                </div>
                <div class="table__amount">
                  {{vm.firstTask}} - {{vm.lastTask}} of {{vm.allTasks.length}}
                </div>
                <div class="table__nav">
                  <button type="button" class="btn btn-light btn-sm" ng-click="vm.prevPage()" ng-disabled="vm.prev"><i class="fa fa-chevron-left"></i></button>
                  <button type="button" class="btn btn-light btn-sm" ng-click="vm.nextPage()" ng-disabled="vm.next"><i class="fa fa-chevron-right"></i></button>
                </div>
              </div>
            </td>
        </tr>
    </tfoot>
  </table>
  <div class="addForm">
    <form name="addTaskForm">
      <h3>Add New Task</h3>
      <div class="form-group">
        <label>Task Name*</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </span>
          </div>
          <input type="text" name="nameInput" class="form-control" placeholder="Task Name" ng-model="vm.newTaskName" required>
        </div>
        <small class="text-danger" ng-show="addTaskForm.nameInput.$touched">
          <span ng-show="addTaskForm.nameInput.$error.required">This field is required!</span>
        </small>
      </div>
      <div class="form-group">
        <label>Priority</label>
        <select class="form-control" ng-model="vm.newPriority" ng-options="option as option for option in vm.statusOptions">
        </select>
      </div>
      <div class="form-group">
        <label class="control control--checkbox">
          <input type="checkbox" ng-model="vm.newDone">
          <div class="control__indicator"></div> Is done
        </label>
      </div>
      <button type="submit" class="btn btn-default" ng-click="vm.addTask()" ng-disabled="!vm.newTaskName">Add Task</button>
    </form>
  </div>
</div>
