.boxContainer {
  width: 800px;
  background-color: $border-color;
  padding: 15px;
  margin: auto;
}

.table {
  width: 100%;

  &__head {
    border: 0;
    background-color: $nav-background-color;
    color: $white-color;
  }

  &__footer {
    border: 0;
    background-color: $white-color;
  }

  &__amount {
    margin: auto;
    padding: 15px;
    // width: 250px;
    float: left;
  }

  &__nav {
    margin: auto;
    padding: 10px;
    // width: 250px;
    float: left;
  }

  &__rows {
    margin: auto;
    padding: 15px;
    // width: 250px;
    float: left;
  }

  &__pagging {
    margin: auto;
    padding: 15px;
  }

  &__name {
    width: 490px;
    margin: auto;
    padding: 15px;
    text-align: left;
  }

  &__priority {
    width: 140px;
    margin: auto;
    padding: 15px;
    text-align: left;
  }

  &__done {
    width: 140px;
    margin: auto;
    padding: 15px;
    text-align: left;
  }
}

.tasksList {
  width: 100%;

  &__task {
    margin: auto;
    padding: 15px;
    height: 75px;
    background-color: $white-color;
    border: 1px solid $border-color;
  }

  &__name {
    width: 490px;
    margin: auto;
    padding: 15px;
    text-align: left;
  }

  &__priority {
    width: 140px;
    margin: auto;
    padding: 15px;
    text-align: left;
  }

  &__done {
    width: 140px;
    margin: auto;
    padding: 15px;
    text-align: left;
  }

  &__warning {
    margin: auto;
    padding: 15px;
    text-align: center;
    background-color: $white-color;
    color: $danger-color;
    font-weight: bold;
    border: 1px solid $border-color;
  }
}

.addForm {
  background-color: $white-color;
  margin-top: 15px;
  padding: 15px;
}
